<div class="content-wrapper">
  <h1>rswearing</h1>
  <p><strong>Gerenciamento de cookies</strong><br>

  <div class="cookie-info">
    <div class="cookie-option">
      <ion-icon name="person-circle-outline" class="cookie-icon"></ion-icon>
      <p><strong>Publicidade e conteúdos personalizados</strong><br>
      Medição de publicidade e conteúdos, estudos de audiência e desenvolvimento de serviços.</p>
    </div>
    <div class="cookie-option">
      <ion-icon name="folder-outline" class="cookie-icon"></ion-icon>
      <p><strong>Armazenar e/ou aceder a informações num dispositivo</strong><br>
      Utilizamos cookies para armazenar e/ou aceder a informações num dispositivo.</p>
    </div>
    <div class="cookie-option">
      <ion-icon name="information-circle-outline" class="cookie-icon"></ion-icon>
      <p><strong>Saiba mais:</strong></p>
    </div>
  </div>

  <p class="cookie-text">
    Os seus dados pessoais vão ser processados, e as informações do seu dispositivo (cookies, identificadores únicos e outros dados do dispositivo) podem ser armazenadas, acedidas e partilhadas com 189 fornecedores TCF e 80 parceiros de anúncios ou usadas especificamente para este site ou app.
  </p>
  <p class="cookie-text">
    Alguns fornecedores poderão tratar os seus dados pessoais com base no interesse legítimo. Pode optar-se a este tratamento com as opções abaixo. Procure um link na parte inferior desta página para gerir ou revogar o consentimento em definições de privacidade e cookies.
  </p>

  <ion-button expand="block" class="action-button" (click)="acceptPrivacyPolicy()">ACCEPT</ion-button>
  <ion-button expand="block" class="action-button" (click)="rejectPrivacyPolicy()">REFUSE</ion-button>
</div>