@font-face {
  font-family: 'MyFont';
  src: url('../../assets/fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}
ion-toolbar{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.faq-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-image {
    max-width: 100%;
    height: auto;
  }
  
  ion-searchbar {
    width: 99.9%;

  }
  
  ion-accordion-group {
    margin-top: 10px;
  }
  
  ion-accordion {
    --background: #fff;
    --header-background: #f8f8f8;
    --color: #333;
  }
  
  ion-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
  }
  .intro-card {
    background-image: linear-gradient(0deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 7%,rgb(55, 55, 55) 7%, rgb(55, 55, 55) 17%,rgb(63, 63, 63) 17%, rgb(63, 63, 63) 40%,rgb(72, 72, 72) 40%, rgb(72, 72, 72) 42%,rgb(80, 80, 80) 42%, rgb(80, 80, 80) 56%,rgb(89, 89, 89) 56%, rgb(89, 89, 89) 63%,rgb(97, 97, 97) 63%, rgb(97, 97, 97) 100%),linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 7%,rgb(55, 55, 55) 7%, rgb(55, 55, 55) 17%,rgb(63, 63, 63) 17%, rgb(63, 63, 63) 40%,rgb(72, 72, 72) 40%, rgb(72, 72, 72) 42%,rgb(80, 80, 80) 42%, rgb(80, 80, 80) 56%,rgb(89, 89, 89) 56%, rgb(89, 89, 89) 63%,rgb(97, 97, 97) 63%, rgb(97, 97, 97) 100%),linear-gradient(22.5deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 7%,rgb(55, 55, 55) 7%, rgb(55, 55, 55) 17%,rgb(63, 63, 63) 17%, rgb(63, 63, 63) 40%,rgb(72, 72, 72) 40%, rgb(72, 72, 72) 42%,rgb(80, 80, 80) 42%, rgb(80, 80, 80) 56%,rgb(89, 89, 89) 56%, rgb(89, 89, 89) 63%,rgb(97, 97, 97) 63%, rgb(97, 97, 97) 100%),linear-gradient(90deg, rgb(93, 93, 93),rgb(177, 177, 177)); background-blend-mode:overlay,overlay,overlay,normal;
    padding: 4rem 1rem;
      text-align: center;
      color: #fff;
    }
    
    .intro-text {
      font-family: 'MyFont', sans-serif;
      font-size: 2rem;
      color: #fff;
      margin-bottom: 1rem;
      text-decoration: underline darkgoldenrod;
    }
      

    .btns {
      display: flex;
      justify-content: center; /* Para centrar os botões horizontalmente */
      gap: 10px; /* Espaço entre os botões, ajusta conforme necessário */
    }
    
    /* Chat Button */ 
.chatBtn {
  position: fixed;
  margin-top: 5%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: goldenrod;
  background-image: linear-gradient(147deg, goldenrod, darkgoldenrod,goldenrod);
  cursor: pointer;
  padding-top: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  position: relative;
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
}

.tooltip {
  position: absolute;
  top: -40px;
  opacity: 0;
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
  opacity: 1;
  transition-duration: .5s;
}

.chatBtn:hover {
  background-position: right;
  transition-duration: 1s;
}

#supportBtn svg {
  height: 1.5em;
  fill: white;
}