.title {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: #000;
  }
  
  .subtitle {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #595959;
  }
  
  .heading_1 {
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #000;
  }
  
  .body_text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #595959;
  }
  
  .link {
    color: #3030f1;
    font-size: 14px;
    word-break: break-word;
  }
  
  ul {
    list-style-type: square;
  }
  
  ul ul {
    list-style-type: circle;
  }
  
  ul ul ul {
    list-style-type: square;
  }
  