<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif+Khitan+Small+Script&family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
<ion-header>
  <div class="home-user-bar">
    <ion-toolbar>
      <ion-title class="test-font">
        <div class="small-logo-container">
          <img src="assets/icon/logo.png" alt="Small Brand Logo" class="brand-logo-1">
        </div>
      </ion-title>
    </ion-toolbar>
  </div>

  <div class="main-menu">
    <!-- Men Menu Item -->
    <div class="menu-item" (mouseenter)="showSubMenu('man')" (mouseleave)="hideSubMenu()">
      See our new collections
      <div class="sub-menu" [ngClass]="{'visible': subMenuVisible === 'man'}">
        <ul>
          <li><button>Sweats</button></li>
          <li><button>Shirts</button></li>
          <li><button>Accessories</button></li>
        </ul>
      </div>
    </div>

    <!-- Women Menu Item -->
    <div class="menu-item" (mouseenter)="showSubMenu('woman')" (mouseleave)="hideSubMenu()">
      Limited time offers
      <div class="sub-menu" [ngClass]="{'visible': subMenuVisible === 'woman'}">
        <ul>
          <li><button>Sweats</button></li>
          <li><button>Shirts</button></li>
          <li><button>Accessories</button></li>
        </ul>
      </div>
    </div>

    <!-- Kids Menu Item -->

  </div>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Brand Logo" class="logo">
  </div>
  
  <div class="login-container">
    <div class="screen-1">
      <form>
        <div class="email">
          <label for="email">E-mail       </label>
          <ion-icon name="mail"></ion-icon>
          <div class="input-user"><ion-input [(ngModel)]="email" name="email" type="email" placeholder="something@example.com"></ion-input></div>
        </div>
        <div class="password">
          <label for="password">Password      </label>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input [(ngModel)]="password" name="password" type="password" placeholder="••••••"></ion-input>
        </div>
        <button class="login" (click)="login()">Login</button>
        <button class="continue" (click)="continueWithoutLogin()">Continue without Login</button>
      </form>
      <div class="social-login">
        <p>Login with:</p>
        <button (click)="signInWithGoogle()" class="social-btn google-btn">
          <img src="../../assets/icon/google-logo.png" alt="Google Logo">
        </button>
        <button (click)="signInWithFacebook()" class="social-btn facebook-btn">
          <img src="../../assets/icon/facebook-logo.png" alt="Facebook Logo">
        </button>
      </div>
      <div class="links">
        <a (click)="goToRegister()">Don't have an account? Sign up</a>
        <a (click)="forgotPassword()">Forgot password?</a>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="forgotPasswordMessage" class="forgot-password-message">
        {{ forgotPasswordMessage }}
      </div>
    </div>
  </div>
</ion-content>


<footer class="footer">
  <div class="footer-section">
    <h3>Resources</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Assistance</h3>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Company</h3>
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a>Social media:</a></li>
      <li class="social-buttons">
        <button (click)="gotoFacebookPage()" class="social-btn">
          <img src="../../assets/icon/facebook-logo.png" alt="Facebook Logo">
        </button>
        <button (click)="gotoInstagramPage()" class="social-btn">
          <img src="../../assets/icon/instagram-logo.png" alt="Instagram Logo">
        </button>
        <button (click)="gotoTwitterPage()" class="social-btn">
          <img src="../../assets/icon/twitter-logo.png" alt="Twitter Logo">
        </button>
      </li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Country</h3>
    <ul>
      <li><a href="#"><ion-icon name="globe-outline"></ion-icon> Portugal</a></li>
    </ul>
  </div>
</footer>