<meta name="viewport" content="width=device-width, initial-scale=1.0">



<ion-header>
  <div class="home-user-bar">
    <ion-toolbar>


      <div class="header-content">
        <div class="site-title-container">
          <!-- Remove ion-title for better control -->
          <button class="site-title-btn" (click) = "goToHome()">Press here to see our products</button>
        </div>
      </div>
      
      <ion-buttons slot="end">
        <button data-quantity="0" class="btn-cart">
          <svg class="icon-cart" viewBox="0 0 24.38 30.52" height="30.52" width="24.38" xmlns="http://www.w3.org/2000/svg" (click) ="goToHome()">
            <title>SHOP NOW!</title>
            <path transform="translate(-3.62 -0.85)" d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"></path>
          </svg>
        </button>
        <button class="btn">
          <img src="assets/icon/logo.png" alt="btn-fav" class="btn">
        </button>

      </ion-buttons>
    </ion-toolbar>
  </div>




</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Brand Logo" class="brand-logo-1">
  </div>
  
  <div class="login-container">
    <div class="screen-1">
      <form>
        <div class="email">
          <label for="email">E-mail       </label>
          <ion-icon name="mail"></ion-icon>
          <div class="input-user"><ion-input [(ngModel)]="email" name="email" type="email" placeholder="something@example.com"></ion-input></div>
        </div>
        <div class="password">
          <label for="password">Password      </label>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input [(ngModel)]="password" name="password" type="password" placeholder="••••••"></ion-input>
        </div>
        <button class="login" (click)="login()">Login</button>
        <button class="continue" (click)="continueWithoutLogin()">Continue without Login</button>
      </form>
      <div class="social-login">
        <p>Login with:</p>
        <button (click)="signInWithGoogle()" class="social-btn google-btn">
          <img src="../../assets/icon/google-logo.png" alt="Google Logo">
        </button>
        <button (click)="signInWithFacebook()" class="social-btn facebook-btn">
          <img src="../../assets/icon/facebook-logo.png" alt="Facebook Logo">
        </button>
      </div>
      <div class="links">
        <a (click)="goToRegister()">Don't have an account? Sign up</a>
        <a (click)="forgotPassword()">Forgot password?</a>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="forgotPasswordMessage" class="forgot-password-message">
        {{ forgotPasswordMessage }}
      </div>
    </div>
  </div>
</ion-content>


<footer class="footer">
  <div class="footer-section">
    <h3>Resources</h3>
    <ul>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Terms of service</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Assistance</h3>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Company</h3>
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a>Social media:</a></li>
      <li class="social-buttons">
        <button (click)="gotoFacebookPage()" class="social-btn">
          <img src="../../assets/icon/facebook-logo.png" alt="Facebook Logo">
        </button>
        <button (click)="gotoInstagramPage()" class="social-btn">
          <img src="../../assets/icon/instagram-logo.png" alt="Instagram Logo">
        </button>
        <button (click)="gotoTwitterPage()" class="social-btn">
          <img src="../../assets/icon/twitter-logo.png" alt="Twitter Logo">
        </button>
        <button (click)="gotoTiktokPage()" class="social-btn">
          <img src="../../assets/icon/tiktok-logo.png" alt="Twitter Logo">
        </button>
      </li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Country</h3>
    <ul>
      <li><a href="#"><ion-icon name="globe-outline"></ion-icon> Portugal</a></li>
    </ul>
  </div>
</footer>

<div class="loader-container hidden">
  <div class="loader">
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
  </div>
</div>