<head><meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<ion-header>
  <div class="home-user-bar">
    <ion-toolbar>
      <ion-title class="test-font">
        <a [routerLink]="['/home']"> <!-- Add this line -->
          <img src="assets/icon/logo.png" alt="Brand Logo" class="brand-logo">
        </a>
      </ion-title>


      
      <ion-buttons slot="end">
        <span class="user-name">{{ user.name }}</span>
        <button data-quantity="0" class="btn-cart" (click)="gotoCart()">
          <svg class="icon-cart" viewBox="0 0 24.38 30.52" height="30.52" width="24.38" xmlns="http://www.w3.org/2000/svg">
            <title>icon-cart</title>
            <path transform="translate(-3.62 -0.85)" d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"></path>
          </svg>
          <div class="cart-dropdown" >
            <p>Shopping Cart</p>
          </div>
        </button>


        
        
        <ion-button id="user-icon" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)">
          <ion-icon name="navigate-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>




</ion-header>
<ion-content>
  <div class="favorites-container">
    <ion-list>
      <ion-item class="favorite-item" *ngFor="let item of favoriteItems">
        <ion-thumbnail slot="start" class="favorite-thumbnail">
          <img [src]="item.imageUrl" />
        </ion-thumbnail>
        <ion-label class="favorite-label">
          <h2 class="item-name">{{ item.name }}</h2>
          <p class="item-price">{{ item.price | currency }}</p>
        </ion-label>
        <div class="favorite-buttons">
          <ion-button (click)="goToItemDetail(item.id)" fill="clear" color="dark" class="favorite-view-btn">
            View
          </ion-button>
          <ion-button (click)="addToCart(item)" fill="solid" color="success" class="favorite-add-btn">
            Add to Cart
          </ion-button>
          <ion-button (click)="removeFromFavorites(item)" fill="outline" color="danger" class="favorite-remove-btn">
            Remove
          </ion-button>
        </div>
        <p *ngIf="cartMessage" style="color: green;">{{ cartMessage }}</p> <!-- Display success message for cart -->

      </ion-item>
    </ion-list>
  </div>

  <button class="button_return" (click) = "gotoHome()">
    <div class="button_return-box" (click) = "gotoHome()">
      <span class="button_return-elem">
        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
      <span class="button_return-elem">
        <svg viewBox="0 0 46 40">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
    </div>
  </button>
</ion-content>


<div id="user-sidebar" [ngClass]="{'visible': sidebarVisible}" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)">
  <div class="sidebar-content">
    <h3>Go to:</h3>
    <div id="buttons-sidebar">
      <button (click)="gotoHome()">Home</button>
      <button (click)="gotoProfile()">Profile</button>
      <button (click)="gotoSearch('Trending')">Trending</button>
      <button (click)="gotoSearch('Campaigns')">Campaigns</button>
      <button (click)="gotoLogout()">Logout</button>
      <img src="assets/icon/logo.png" alt="logo Icon" />
    </div>
  </div>
</div>
