<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif+Khitan+Small+Script&family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Dancing+Script:wght@400..700&family=Noto+Serif+Khitan+Small+Script&family=Yanone+Kaffeesatz:wght@595&display=swap" rel="stylesheet">
<ion-header>
  <div class="home-user-bar">
    <ion-toolbar>
      <ion-title class="test-font">
        <img src="assets/icon/logo.png" alt="Brand Logo" class="brand-logo">
      </ion-title>
      
      <ion-buttons slot="end">
        <span class="user-name">{{ user.name }}</span>
        <ion-button id="fav-icon">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
        
        <ion-button id="user-icon" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)">
          <ion-icon name="person-sharp" class="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="welcome-message">
    Welcome to RSWearing's official webpage&trade;.
</div>

<button data-quantity="0" class="btn-cart">
  <svg class="icon-cart" viewBox="0 0 24.38 30.52" height="30.52" width="24.38" xmlns="http://www.w3.org/2000/svg">
    <title>icon-cart</title>
    <path transform="translate(-3.62 -0.85)" d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"></path>
  </svg>
  <span class="quantity"></span>
</button>
  <div class="main-menu">
    <!-- Men Menu Item -->
    <div class="menu-item" (mouseenter)="showSubMenu('man')" (mouseleave)="hideSubMenu()">
      Men
      <div class="sub-menu" [ngClass]="{'visible': subMenuVisible === 'man'}">
        <ul>
          <li><button>Sweats</button></li>
          <li><button>Shirts</button></li>
          <li><button>Accessories</button></li>
        </ul>
      </div>
    </div>

    <!-- Kids Menu Item -->
    <div class="menu-item" (mouseenter)="showSubMenu('kids')" (mouseleave)="hideSubMenu()">
      Kids
      <div class="sub-menu" [ngClass]="{'visible': subMenuVisible === 'kids'}">
        <ul>
          <li><button>Sweats</button></li>
          <li><button>Shirts</button></li>
          <li><button>Accessories</button></li>
        </ul>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
<div class = "banner-top">
  <img src="assets/img/banner-top.png" alt="Banner Top">
</div>



  <div class="search">
    <div class="search-box">
      <div class="search-field">
        <input placeholder="Search..." class="input" type="text">
        <div class="search-box-icon">
          <button class="btn-icon-content">
            <i class="search-icon">
              <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" ></path></svg>
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="new-collection-section" 
  (mouseenter)="toggleHover('new-collection', true)" 
  (mouseleave)="toggleHover('new-collection', false)">
<h2>New Collection:</h2>
<div class="new-collection-items">
 <div class="item" *ngFor="let item of newCollectionItems" (click)="gotoSettings()">
   <img [src]="item.imageUrl" alt="{{ item.title }}">
   <p>{{ item.title }}</p>
 </div>
</div>
</div>

<div class="hot-deals-section" 
  (mouseenter)="toggleHover('hot-deal', true)" 
  (mouseleave)="toggleHover('hot-deal', false)">
<h2>Hot deals:</h2>
<div class="hot-deals-items">
 <div class="item" *ngFor="let item of hotDealsItems" (click)="gotoSettings()">
   <img [src]="item.imageUrl" alt="{{ item.title }}">
   <p>{{ item.title }}</p>
 </div>
</div>
</div>

<div class="trending-section" 
  (mouseenter)="toggleHover('trending', true)" 
  (mouseleave)="toggleHover('trending', false)">
<h2>Trending right now:</h2>
<div class="trending-items">
 <div class="item" *ngFor="let item of trendingItems" (click)="gotoSettings()">
   <img [src]="item.imageUrl" alt="{{ item.title }}">
   <p>{{ item.title }}</p>
 </div>
</div>
</div>

<div class="recommended-section" 
  (mouseenter)="toggleHover('recommended', true)" 
  (mouseleave)="toggleHover('recommended', false)">
<h2>You may also like:</h2>
<div class="recommended-items">
 <div class="item" *ngFor="let item of recommendedItems" (click)="gotoProfile()">
   <img [src]="item.imageUrl" alt="{{ item.title }}">
   <p>{{ item.title }}"></p>
 </div>
</div>
</div>

<div id="user-sidebar" [ngClass]="{'visible': sidebarVisible}" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)">
  <div class="sidebar-content">
    <h3>Go to:</h3>
    <div id="buttons-sidebar">
      <button (click)="gotoProfile()">Profile</button>
      <button (click)="gotoSettings()">Settings</button>
      <button (click)="gotoLogout()">Logout</button>
      <img src="assets/icon/logo.png" alt="logo Icon" />
    </div>
  </div>
</div>


<div class="services-section">
  <div class="service-item">
    <ion-icon name="speedometer-outline"></ion-icon>
      <p>Fast shipping</p>
  </div>
  <div class="service-item">
    <ion-icon name="airplane-outline"></ion-icon>
      <p>Free delivery for purchases above 50€</p>
  </div>
  <div class="service-item">
    <ion-icon name="help-buoy-outline"></ion-icon>
      <p>Customer Support always ready to assist you</p>
  </div>
</div>

<footer class="footer">
  <div class="footer-section">
    <h3>Resources</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Help</h3>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Company</h3>
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a>Social media:</a></li>
      <li class="social-buttons">
        <button (click)="gotoFacebookPage()" class="social-btn">
          <img src="../../assets/icon/facebook-logo.png" alt="Facebook Logo">
        </button>
        <button (click)="gotoInstagramPage()" class="social-btn">
          <img src="../../assets/icon/instagram-logo.png" alt="Instagram Logo">
        </button>
        <button (click)="gotoTwitterPage()" class="social-btn">
          <img src="../../assets/icon/twitter-logo.png" alt="Twitter Logo">
        </button>
        <button (click)="gotoTiktokPage()" class="social-btn">
          <img src="../../assets/icon/tiktok-logo.png" alt="Twitter Logo">
        </button>
      </li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h3>Country</h3>
    <ul>
      <li><a href="#"><ion-icon name="globe-outline"></ion-icon> Portugal</a></li>
    </ul>
  </div>
</footer>